@import './abstracts/variables';
@import './components/_gameLoader';
@import './components/_cross';
@import './components/circle';
@import './base/_utilities.scss';
@import './base/animations';
@import './components/gameBoard';



*,
*:before,
*:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
    color: #fff;
    height: 100vh;
    width: 100vw;
    background-color:$color-primary;
    font-family: 'arial',sans-serif;
    position: relative;
}