.extra-large{
    width: 25rem;
    height: 25rem;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.margin-bottom-extra-small{
    margin-bottom: 2rem;
}

.margin-bottom-small{
    margin-bottom: 4rem;
}
.padding-small{
    padding: 4rem;
}

// this class is applied whenever a winner is found or it is a draw.
.winner{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    font-size: 5rem;
    background-color: black;
    opacity: .5;
}