:root{
  --dynamic-circle-background-color:#f9c831;
  --dynamic-circle-psuedo-color:#ff4d4d;
}

.circle-static{
    height:22rem;
    width:22rem;
    background-color: $color-tertiary;
    border-radius:50%;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: 30%;
      width: 30%;
      border-radius: 50%;
      background-color: $color-secondary;
    }
  }
  .circle-static_red{
    height:22rem;
    width:22rem;
    background-color: $color-secondary;
    border-radius:50%;
    position: relative;
    &__logo{
      height: 50%;
      width: 50%;
    }
    &:before{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: 30%;
      width: 30%;
      border-radius: 50%;
      background-color: $color-primary-2;
    }
  }
  .circle-dynamic{
    height:22rem;
    width:22rem;
    background-color: var(--dynamic-circle-background-color);
    border-radius:50%;
    position: relative;
    transition: background-color .2s;

    &:before{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: 30%;
      width: 30%;
      border-radius: 50%;
      background-color: var(--dynamic-circle-psuedo-color);
      transition: background-color .2s;

    }
  }

  .circle-move{
    height:80%;
    width:80%;
    background-color: $color-main;
    border-radius:50%;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: 30%;
      width: 30%;
      border-radius: 50%;
      background-color:$color-main;
    }
  }