.cross{
    height:22rem;
    width:22rem;
    overflow:hidden;
    background-color:transparent;
    border-radius:50%;
    position:relative;

    &:before{
        content:"";
        top:0;
        left:35%;
        width:40%;
        height:100%;
        background-color:$color-tertiary;
        position:absolute;
        transform:skewX(-45deg)
    }
    &:after{
        content:"";
        top:0;
        right:35%;
        width:40%;
        height:100%;
        background-color:$color-tertiary;
        position:absolute;
        transform:skewX(45deg)
    }
  }
