.game__loader{
    width: 70vw;
    height: 90vh;
    position: absolute;
    background-color:transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 3rem;

    &__box{
        height: 100%;
        width: 100%;
        border-radius: 2rem;
        background-color: $color-secondary;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        &--start{
            padding: 4rem 3rem;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            position: relative;
            &__choices{
                margin-top: 10rem;
                display: flex;
                justify-content: space-evenly;
            }
            &__btn{
                margin-bottom: 2rem;
                padding: 4rem;
                font-size: 4rem;
                font-weight: 900;
                letter-spacing: 2px;
                border: none;
                border-radius: 2rem;
                background-color: $color-tertiary;
                color:$color-secondary;
                cursor: pointer;
                transition: all .2s;
                &:hover{
                    background-color:$color-tertiary-hover ;
                }
            }
        }
        &--side{
            display: flex;
            flex-direction: column;
            padding: 3rem;
            text-align: center;
            &-text{
                font-size: 5rem;
                letter-spacing: 2px;
                color: $color-tertiary;
                font-weight: 900;
                margin-bottom: 2rem;
            }
            &-choice{
                cursor: pointer;
                border-radius: 2rem;
                transition: all .2s;

                &-1{
                    background-color: $color-tertiary;
                }
            }
        }
    }
}
