.game-container{
    position: relative;
    max-width: 110rem;
    height: 100vh;
    margin: 0 auto;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    visibility: hidden;
}

.game-board{
    width: 50rem;
    height: 40rem;
    background-color:transparent;
    visibility: hidden;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;


    &__grid{
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 2rem;
        background-color: transparent;
        border-radius: 2rem;
        

        &__child{
            background-color: $color-tertiary;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 2rem;
            &-1,
            &-3,
            &-5,
            &-7,
            &-9{
                background-color:$color-secondary;
            }
        }

    }
}

