$color-primary:#DBC7FC;
$color-primary-2:#FCE4C7;
$color-secondary:#FF4D4D;
$color-tertiary:#F9C831;
$color-main:#FCE4C7;
$color-tertiary-hover:#e0a904;
$color-secondary-hover:#ff4d4d;
// $color-primary:#fff;
// $color-secondary:red;
// $color-tertiary:yellow;




